.navbar .navbar-collapse {
    border-top: none;
    box-shadow: none;
}
.navbar-invisible{
    padding: 5px 0;
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: transparent;
    background-color: rgba(0 0 0 / 10%);
    box-shadow: 0 0 0.625rem 0 rgb(21 58 160 / 10%);
}
.navbar{
    padding: 5px 0;
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: var(--default-theme);
    box-shadow: 0 0 0.625rem 0 rgb(21 58 160 / 10%);
}
.logo{
    max-width: 100%;
    width: 80px;    
    height: 80px;
    border-radius: 110px;
    object-fit: cover;
}

.navbar-toggle {
    display: none !important;
}

.collapse ul li{
    margin: auto 5px;
}

@media (max-width: 991px) {
    .navbar-toggle {
        display: block !important;
    }
    .navbar .navbar-collapse.collapse,
    .navbar .navbar-collapse.collapsing,
    .navbar-invisible .navbar-collapse.collapse {
        display: none !important;
    }
    
}