.container-signup {
    background-color: rgba(250, 250, 250, 0.897);

    .content-form {
        margin-top: 15vh;

        .pagination {

            margin: 0 0 10px 0;

            ul {
                
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 0;

                li  {

                    button{
                        color: #333;
                        margin: auto 20px;
                        border-radius: 20px;
                        transform: scale(1.2);
                        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;
                        border: none;
                    }
                    
                }
            }
        }

        .active {
            background-color: var(--default-orange) !important;
            color: #fff !important;
            z-index: 1;
        }

        .svg:hover {
            cursor: pointer;
            opacity: .7;
            transition: opacity ease-in .3s;
        }

        .filesUploaded {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            margin-top: -40px;            
            border-radius: 20px;            
            border: none;
            background-color: var(--default-orange);            
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;
        }
        .table tr th{
            font-weight: 400;
        }
        .table tr th, .table tr td{
            border: 1px solid gainsboro;
            vertical-align: middle;
        }
    }

    .options ul {
        display: flex;
        justify-content: space-between;

        ul li a {
            background: #dc3445 !important;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            color: #fff !important;
            border: rgba(31, 39, 52, 0.7);
            padding: 8px 15px;
        }

        ul li a:hover {
            background: #bb2d3b !important;
            cursor: pointer;
            border: #bb2d3b;
        }
    }
}